@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=PT+Sans+Narrow&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
    overflow: hidden;
    height: 100vh; 
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10%;
    padding: 1% 0;
}

.navlink {
    color: rgb(43, 77, 51);
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.navlink:hover {
    color: rgb(201, 201, 201);
}

.maincontent {
    background-color: rgb(238, 241, 238);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    margin: 0 5% 0 5%;
    height: 80%;
    width: 90%;
    position: fixed;
    overflow: scroll;
    padding-top: 300px;
    overflow-x: hidden;
}
.titrepage {
    color: rgb(62, 95, 65);
    transform: rotate(-90deg);
    font-size: 120px;
    float: left;
    width: 30vh;
    margin-top: 50vh;
}  
.test {
    display: flex;
    flex-wrap: wrap;
    
    
}

::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-thumb {
    background: #A1AD9F;
    border-radius: 6px;
  }

.card {
    /* background-color: cornsilk; */
    /* deuxième valeur à modifier selon la taille de la carte */
    margin: 50px 60px;
    display:flex;
    flex-direction: column;
}


.cardimage {
    width: 200px;
    height: 150px;
    border-radius: 5px;
} 

.légende {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: rgb(83, 110, 82);
    font-size: 25px;
}


.p_card {
    font-family: 'PT Sans Narrow', sans-serif;
}

footer{
    position: absolute;
    bottom: 20px;
    right:50px;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(121, 119, 119);
}

.pres_content {
    display: flex;
    justify-content: space-around;
}

.pres_image {
    height: 25%;
    width: 25%;
    margin-bottom: 200px;
    /* margin-right: 150px; */
}

.pres_right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50%;
}

.pres_right-content>h2 {
    color: rgb(62, 95, 65);
    font-size: 50px;
    margin-top: 100px;
}

.pres_right-content>p {
    margin-top: 9px;
}